* {
    box-sizing: border-box;
}

.hidden {
    display: none;
}

html,
body {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 300px;
    margin: 0 auto;
    height: 100%;
}

a {
    color: #777;
    font-size: 14px;
}

.header {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.header,
.footer {
    height: 50vh;
}

.ruler {

}

.ruler__item:first-child {
    border-top: 1px solid black;
}

.ruler__item {
    padding: 5px;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.display {
    padding: 20px;
    background: black;
    color: white;
}

.main-screen {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
    position: relative;
}

.ruler {
    flex-grow: 1;
    overflow-y: auto;
}