* {
    box-sizing: border-box;
}

.hidden {
    display: none !important;
}

html,
body {
    height: 100%;
    background: #2d2d2d;
    color: #cfd2d6;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 300px;
    margin: 0 auto;
    height: 100%;
}

a {
    color: #777;
    font-size: 14px;
}

.header {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.header,
.footer {
    height: 50vh;
}

.ruler {

}

.ruler__item:first-child {
    border-top: 1px solid #565656;
}

.ruler__item {
    padding: 5px;
    border-bottom: 1px solid #565656;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.display {
    padding: 20px;
    background: #1c1c1c;
    color: #cfd2d6;
}

.text-button {
    border: none;
    background: none;
    padding: 0;
    color: aqua;
    border-bottom: 1px dashed aqua;
    cursor: pointer;
}

.display__from-value,
.display__to-value {
    font-weight: bold;
}

.display__from-currency,
.display__to-currency,
.display__from-value,
.display__to-value {
    font-size: 16px;
}

.main-screen {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
    position: relative;
}

.ruler {
    flex-grow: 1;
    overflow-y: auto;
    scrollbar-width: thin;
}

.ruler__padding {
    height: 100%;
}

.credits {
    text-align: center;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #2d2d2d;
}

.credits a {
    font-size: 12px;
}

.choose-currency-screen {
    display: flex;
    flex-direction: column;
    padding-block-start: 5px;
    align-items: center;
    gap: 10px;
}

.choose-currency-screen__title {
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
}

.choose-currency-screen__back {
    background: transparent;
    border: 2px solid aqua;
    color: aqua;
    padding: 5px 10px;
    cursor: pointer;
}

.currency-list__item {
    margin-bottom: 10px;
}
